@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.login {
    background-image: url('https://film-commission.vercel.app/assets/contact-bg-CcCo8A6z.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 20px;

    .content {
        width: 80%;
        margin: auto;
        background-color: #fff;
        background-image: url('https://film-commission.vercel.app/assets/forum-bg-DlCLCXYv.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 100px;
        padding-top: 20px;

        a {
            padding-bottom: 80px;
            display: inline-block;
            text-decoration: none;
            color: #000;
            display: flex;
            align-items: center;
            gap: 8px;

            svg {
                width: 20px;
                height: 20px;
            }

            span {
                font-size: 20px;
                font-family: 'Oswald';
            }
        }

        .main {
            width: 70%;
            margin: auto;
            display: flex;
            align-items: center;
            gap: 80px;

            h2 {
                font-family: Poppins;
                font-weight: 700;
                font-style: Bold;
                font-size: 64px;
                line-height: 120%;
                letter-spacing: -1%;
                text-transform: uppercase;
                color: #101828;

            }
        }
    }
}

.ant-form-item-label {
    color: green;
}

.ant-form-item-required {

    font-family: 'Poppins';
    font-weight: 600;
    font-style: SemiBold;
    font-size: 14px;
    color: #262626;
    line-height: 160%;
    letter-spacing: 0%;

}

.company .ant-form-item-label>label {
    font-family: 'Poppins';
    font-weight: 600;
    font-style: SemiBold;
    font-size: 14px;
    color: #262626;
    line-height: 160%;
    letter-spacing: 0%;
}

.text .ant-form-item-label>label {
    font-family: 'Poppins';
    font-weight: 600;
    font-style: SemiBold;
    font-size: 14px;
    color: #262626;
    line-height: 160%;
    letter-spacing: 0%;
}

.ant-input {
    padding: 9px 11px !important;
    height: 43px;

    &:hover {
        border: 2px solid #915921 !important;
    }
}

.ant-select {
    &:hover {
        border: 2px solid #915921 !important;

    }
}

.ant-select-outlined {
    padding: 9px 11px !important;
}

.btn {
    padding: 11px 15px !important;
    background-color: #915921;
    color: #fff;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins';
    cursor: pointer;
    border-radius: 0px;

    &:hover {
        background-color: #915921 !important;
        color: #fff !important;
    }
}


