@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

::-webkit-scrollbar {
    width: 12px;
    /* scrollbar enini təyin edir */
    height: 12px;
    /* horizontal üçün */
}

::-webkit-scrollbar-track {
    background: #4A4A4A;
    /* track rəngi (arka fon) */
}

/* Scrollbar handle (draggable hissə) */
::-webkit-scrollbar-thumb {
    background-color: #915921;
    /* əsas rəng */
    border: 2px solid #915921;
    /* track fonuna uyğun border */
}

.header {
    height: 120px;

    &.scrolled {
        backdrop-filter: blur(10px);
        background-color: #161616cc;
    }

    position: fixed;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .left-box {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    ul {
        margin-top: 30px;
        margin-bottom: 30px;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 44px;

        li {
            position: relative;

            &.border {
                border-bottom: 2px solid #fff;
            }

            ul {
                &.active {
                    display: block;
                }

                position: absolute;
                top: 100%;
                left: 0px;
                width: 100%;
                display: flex;
                flex-direction: column;
                border: 1px solid #fff;
                background-color: #fff;
                height: auto;
                gap: 5px;
                display: none;
                border-radius: 6px;

                &.one {
                    width: 200%;
                }

                &.two {
                    width: 200%;
                }

                li {
                    width: 90%;
                    margin: auto;
                    margin-bottom: 6px;

                    // font-family: 'Poppins';
                    // font-size: 13px;
                    // padding: 6px 10px;
                    a {
                        color: #000 !important;
                        font-family: 'Poppins';
                        font-size: 13px;
                        padding: 6px 10px;
                        font-weight: 400;
                    }
                }
            }

            a {
                text-decoration: none;
                font-family: Poppins;
                font-weight: 600;
                font-style: SemiBold;
                font-size: 16px;
                line-height: 130%;
                letter-spacing: 0px;
                display: inline-block;
                color: #fff;
                position: relative;
                // &.active {
                //     font-weight: bold;
                //     color: #915921;
                // }

                // &:hover {
                //     &::before {

                //         width: 100%;
                //     }
                // }

                // &::before {
                //     content: '';
                //     position: absolute;
                //     border-bottom: 2px solid #915921;
                //     top: 100%;
                //     width: 0%;
                //     transition: 0.5s;
                // }

            }
        }
    }

    .right-box {
        display: flex;
        gap: 14px;
        margin-top: 15px;
        margin-bottom: 15px;

        .left {
            display: flex;
            align-items: center;
            padding-right: 0px;
            gap: 0px;

            .ant-select {
                height: 30px;
                padding: 8px 8px 8px 8px;
                font-family: Roboto;
                font-weight: 700;
                font-style: Bold;
                font-size: 15.07px;
                line-height: 100%;
                letter-spacing: 2%;
                text-align: right;
                text-transform: uppercase;
                color: #fff;
                background-color: transparent;
                border: none;

                .ant-select-content {
                    margin: 0;

                    .ant-select-content-value {
                        color: #fff;
                    }
                }

                .ant-select-suffix {
                    span {
                        svg {
                            color: #fff;
                            font-size: 16px;
                        }
                    }
                }

            }
        }

        hr {
            position: relative;
            top: 18px;
            color: #fff;
            height: 20px;
        }

        button {
            background-color: transparent;
            border: none;
            margin-top: 3px;
            margin-bottom: 3px;
            padding-left: 6px;

            a {
                border: 1px solid #915921;
                background-color: #915921;
                display: flex;
                gap: 8px;
                padding: 6px 6px 6px 10px;
                align-items: center;
                text-decoration: none;
                color: #fff;
                height: 48px;
                position: relative;

                p {
                    font-family: Outfit;
                    font-weight: 600;
                    font-style: Bold;
                    font-size: 14px;
                    line-height: 100%;
                    letter-spacing: 2%;
                    text-transform: uppercase;
                    z-index: 1;
                }

                img {
                    z-index: 1;
                }

                // &:hover {
                //     &::before {
                //         width: 100%;
                //     }
                // }
                // &::before {
                //     content: '';
                //     position: absolute;
                //     width: 0%;
                //     height: 100%;
                //     top: 0;
                //     left: 0;
                //     transition: 0.5s;
                //     background-color: #915921;
                //     z-index: -1;
                // }
            }
        }
    }
}

.header-mini {
    display: none;
    padding-top: 0px;
    height: 120px;

    &.scrolled {
        backdrop-filter: blur(10px);
        background-color: #161616cc;
    }

}

.mobile {
    background-color: #fff;
    position: fixed;
    left: 100%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    &.active-mobile {
        left: 0;
        transition: 0.5s;
    }
    .top-box {
        padding-top: 20px;
        padding-bottom: 16px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #886C50;
        .left-box {
            img {
                width: 55px;
                height: 49px;
            }
        }
        .right-box {
            color: #fff;
            font-size: 30px;
            .close {
                &.rotate {
                    animation: myAni 1s forwards;
                }

            }
            @keyframes myAni {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(360deg);
                }
            }
        }
    }

    .bottom-box {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;

        ul {
            margin-top: 10px;
            margin-bottom: 10px;
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 10px;

            li {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: space-between;
                position: relative;

                &.border{

                    border-bottom: 2px solid #915921;
                }

                .icon {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                a {
                    text-decoration: none;
                    font-family: Poppins;
                    font-weight: 600;
                    font-style: SemiBold;
                    font-size: 18px;
                    line-height: 130%;
                    letter-spacing: 0px;
                    display: inline-block;
                    color: #000;
                    position: relative;
                    padding-left: 6px;
                    cursor: pointer;

                    &.active {
                        font-weight: bold;
                        color: #915921;
                    }

                    &:hover {
                        &::before {
                            height: 100%;
                        }
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        border-left: 2px solid #915921;
                        height: 0%;
                        transition: 0.5s;
                        left: 0px;
                    }
                }

                span {
                    font-weight: bold;
                    font-size: 20px;
                }

                ul {
                    position: static;
                    top: 100%;
                    width: 100%;
                    height: 100%;
                    left: 20px;
                    display: flex;
                    flex-direction: column;

                    a {
                        font-size: 16px;
                        color: gray;
                        padding-left: 30px;
                        gap: 20px;
                        margin-bottom: 10px;
                        line-height: 100%;
                        padding-top: 0px;
                        padding-bottom: 0px;
                    }

                    display: none;

                    &.active {
                        display: block;
                    }
                }
            }
        }

        .right-box {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .left {
                display: flex;
                align-items: center;
                padding-right: 0px;
                gap: 0px;

                span {
                    margin-left: 10px;
                    font-size: 20px;
                }

                .ant-select {
                    height: 30px;
                    padding: 8px 8px 8px 8px;
                    font-family: Roboto;
                    font-weight: 700;
                    font-style: Bold;
                    font-size: 15.07px;
                    line-height: 100%;
                    letter-spacing: 2%;
                    text-align: right;
                    text-transform: uppercase;
                    color: #000;
                    background-color: transparent;
                    border: none;

                    .ant-select-content {
                        margin: 0;
                    }

                    .ant-select-suffix {
                        span {
                            svg {
                                font-size: 16px;
                            }
                        }
                    }

                }
            }

            button {
                background-color: transparent;
                border: none;
                margin-top: 3px;
                margin-bottom: 3px;
                padding-left: 6px;
                width: 60%;
                margin: auto;

                a {
                    position: relative;
                    border: 1px solid #000;
                    display: flex;
                    gap: 8px;
                    padding: 6px 6px 6px 10px;
                    align-items: center;
                    text-decoration: none;
                    color: #000;
                    height: 48px;

                    p {
                        font-family: Outfit;
                        font-weight: 600;
                        font-style: Bold;
                        font-size: 14px;
                        line-height: 100%;
                        letter-spacing: 2%;
                        text-transform: uppercase;
                        z-index: 1;
                    }

                    img {
                        z-index: 1;
                    }

                    &:hover {
                        &::before {
                            width: 100%;
                            z-index: 0;
                        }

                        z-index: 1;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        width: 0%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        transition: 0.5s;
                        background-color: #915921;
                        z-index: -1;
                    }
                }
            }
        }

    }
}


@media(max-width:576px) {
    .header {
        display: none;
    }

    .header-mini {
        display: block;


        position: fixed;
        width: 100%;

        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;

        .left-box {
            img {
                width: 55px;
                height: 49px;
            }
        }

        .right-box {
            color: #fff;
            font-size: 30px;
        }
    }
}

@media(min-width:577px) and (max-width:768px) {
    .header {
        display: none;
    }
    .header-mini {
        display: block;
        position: fixed;
        width: 100%;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;

        .left-box {
            img {
                width: 50px;
                height: 39px;
            }
        }
        .right-box {
            color: #fff;
            font-size: 30px;
        }
    }
}
@media(min-width:769px) and (max-width:992px) {
    .header {
        display: none;
    }
    .header-mini {
        display: block;
        position: fixed;
        width: 100%;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 40px;
        padding-right: 40px;

        .right-box {
            color: #fff;
            font-size: 30px;
        }
    }
}
@media (min-width:993px) and (max-width:1200px) {
    .header {
        display: none;
    }

    .header-mini {
        display: block;
        position: fixed;
        width: 100%;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 80px;
        padding-right: 80px;

        .left-box {
            img {
                width: 60px;
                height: 49px;
            }
        }

        .right-box {
            color: #fff;
            font-size: 30px;
        }
    }
}