@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.footer {
    background-image: url('../../assets/imgs/footer.png');
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #161616;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 176px;
            height: 160px;

            img {
                height: 100%;
            }
        }

        .right {
            display: flex;
            gap: 60px;
            padding-right: 60px;

            .address {
                h3 {
                    font-family: Roboto;
                    font-weight: 700;
                    font-style: Bold;
                    font-size: 24px;
                    line-height: 30px;
                    letter-spacing: 2.5%;
                    color: #fff;
                    margin-bottom: 20px;
                }

                a {
                    font-family: Roboto;
                    font-weight: 300;
                    font-style: Light;
                    font-size: 24px;
                    line-height: 39px;
                    letter-spacing: 2.5%;
                    display: inline-block;
                    text-decoration: none;
                    color: #C0C0C0;

                    &:hover {
                        color: #915921;
                    }

                }
            }

            .contact {
                h3 {
                    font-family: Roboto;
                    font-weight: 700;
                    font-style: Bold;
                    font-size: 24px;
                    line-height: 30px;
                    letter-spacing: 2.5%;
                    color: #fff;
                    margin-bottom: 20px;
                }

                p {
                    font-family: Roboto;
                    font-weight: 300;
                    font-style: Light;
                    font-size: 24px;
                    line-height: 30px;
                    letter-spacing: 2.5%;
                    margin-bottom: 10px;
                    color: #C0C0C0;

                    &:hover {

                        a,
                        span {
                            color: #915921;
                        }
                    }

                    span {
                        color: #C0C0C0;
                    }

                    a {
                        text-decoration: none;
                        color: #C0C0C0;
                    }
                }
            }
        }
    }

    hr {
        margin-bottom: 50px;
        margin-top: 90px;
    }

    .bottom {
        display: flex;
        justify-content: space-between;

        p {
            font-family: Manrope;
            font-weight: 400;
            font-style: Regular;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 2.5%;
            color: #C0C0C0;
        }

        .icons {
            background-color: #915921;
            width: 50px;
            height: 50px;
            display: none;
            position: fixed;
            bottom: 50px;
            right: 50px;
            z-index: 999;

            &.active {
                display: block;
            }
            svg {

                animation: 2s ease-in-out infinite scrollAnimation;
            }
        }



        @keyframes scrollAnimation {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-5px);
            }

            100% {
                transform: translateY(0);
            }
        }
    }
}

@media(max-width:576px) {
    .footer {
        .top {
            display: flex;
            flex-direction: column;

            .logo {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin-bottom: 60px;
                width: 100%;

            }

            .right {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@media(min-width:577px) and (max-width:768px) {
    .footer {
        .top {
            display: flex;
            flex-direction: column;

            .logo {
                margin-bottom: 60px;
                width: 100%;
                width: 120px;
                width: 100%;
                height: 109px;
            }

            .right {
                display: flex;
                gap: 50px;
                padding-right: 30px;
            }
        }

        .bottom {
            p {
                text-align: center;
            }
        }
    }
}

@media(min-width:769px) and (max-width:992px) {
    .footer {
        .top {
            display: flex;
            flex-direction: column;

            .logo {
                margin-bottom: 60px;
                width: 100%;
                width: 120px;
                width: 100%;
                height: 109px;
            }

            .right {
                display: flex;
                gap: 80px;
                padding-right: 30px;
                width: 100%;
            }
        }

        .bottom {
            p {
                text-align: center;
            }
        }
    }
}

@media(min-width:993px) and (max-width:1200px) {
    .footer {


        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                width: 176px;
                height: 160px;

                img {
                    height: 100%;
                }
            }

            .right {
                display: flex;
                gap: 50px;
                padding-right: 50px;

                .address {
                    h3 {
                        font-family: Roboto;
                        font-weight: 700;
                        font-style: Bold;
                        font-size: 24px;
                        line-height: 30px;
                        letter-spacing: 2.5%;
                        color: #fff;
                        margin-bottom: 20px;
                    }

                    a {
                        font-family: Roboto;
                        font-weight: 300;
                        font-style: Light;
                        font-size: 24px;
                        line-height: 39px;
                        letter-spacing: 2.5%;
                        display: inline-block;
                        text-decoration: none;
                        color: #C0C0C0;

                        &:hover {
                            color: #915921;
                        }

                    }
                }

                .contact {
                    h3 {
                        font-family: Roboto;
                        font-weight: 700;
                        font-style: Bold;
                        font-size: 24px;
                        line-height: 30px;
                        letter-spacing: 2.5%;
                        color: #fff;
                        margin-bottom: 20px;
                    }

                    p {
                        font-family: Roboto;
                        font-weight: 300;
                        font-style: Light;
                        font-size: 24px;
                        line-height: 30px;
                        letter-spacing: 2.5%;
                        margin-bottom: 10px;
                        color: #C0C0C0;

                        &:hover {

                            a,
                            span {
                                color: #915921;
                            }
                        }

                        span {
                            color: #C0C0C0;
                        }

                        a {
                            text-decoration: none;
                            color: #C0C0C0;
                        }
                    }
                }
            }
        }

        hr {
            margin-bottom: 50px;
            margin-top: 90px;
        }

        .bottom {
            p {
                font-family: Manrope;
                font-weight: 400;
                font-style: Regular;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 2.5%;
                color: #C0C0C0;

            }
        }
    }
}