.custom-cursor {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-out;
    background-color: #915921;
    /* bg-light əvəzi */
    opacity: 0.5;
    width: 16px;
    /* w-4 */
    height: 16px;
    /* h-4 */
    border-radius: 50%;
    /* rounded-full */
    backdrop-filter: blur(6px);
    /* backdrop-blur-sm */
    z-index: 9999;
    box-shadow:
        0 0 20px 10px rgba(145, 89, 33, 0.5),
        0 0 60px 30px rgba(145, 89, 33, 0.35),
        0 0 120px 60px rgba(145, 89, 33, 0.2),
        0 0 200px 100px rgba(145, 89, 33, 0.1);

}